<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
</head>
<body>
    <form method="post">
        <label for="numero">Seu numero: </label>
        <input type="tel" id="numero" name="numero" placeholder="Seu numero de telefone...">
        <label for="fraseQR">Frase para a mensagem do QRCode: </label>
        <input type="text" id="fraseQR" name="fraseQR" placeholder="Frase para o QR code...">
        <label for="cor">Selecione a cor do fundo: </label>
        <input type="color" id="cor" name="cor">
        <input type="submit" value="Gerar Imagem">
    </form>
</body>
</html>