<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan-me</title>
</head>
<body>
    <img src="<%= qr_src %>" alt="QrCode">
    <a href="<%= qr_src %>" download="QrChat.png">download</a>
    <img src="<%= imagem %>" alt="ImageQrChat">
    <a href="<%= imagem %>" download="Image QrChat.png">download</a>
</body>
</html>